@model IEnumerable<COMP2006_S2016_FinalExamV2.Models.Artist>

@{
    ViewBag.Title = "Index";
}

<!--
 Josh Mangoff
 200284512
 August 18, 2016
 Version 0.2
 View for Artists
-->

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
    </tr>
}

</table>
